@media screen and (max-width: 1440px) {
    .wrapper,.wrapper2 {
        width: 95%;
    }
    .header .menu-top .navigate ul{
        font-size: 12px;
    }
    .header .search-panel .search-basket .basket-right .basket-num {
        font-size: 13px;
        font-weight: 200;
        color: #000;
    }
    .header .search-panel .search-form {
        width: 50%;
    }
}
@media screen and (max-width: 1330px) {
    .main-sale__content .title {
        font-size: 29px;
    }
    .main-menu a {
        padding-left: 16px;
        font-size: 14px;
    }
    .header .menu-bottom .product-item a span {
        font-size: 11px;
    }
    
}
@media screen and (max-width: 1200px) {
    .main-sale {
        padding: 14px 14px;
    }
    .main-central-wrap {
        padding: 0 20px;
    }
    .main-menu a {
        padding-left: 10px;
        font-size: 13px;
        &::after{
            display: none;
        }
    }
    .header .menu-top .navigate ul{
        padding: 0 1%;
        font-size: 11px;
    }
}
@media screen and (max-width: 1055px) {
    .header .menu-top, .header .search-panel, .header .menu-bottom{
        display: none;
    }
    .main-section {
        margin-top: 65px;
    }
    .main-section__blocks{
        flex-wrap: wrap;
    }
    .main-menu {
        width: 25%;
    }
    .main-central {
        width: 67%;
    }
    .main-picture {
        right: 0px;
    }
    .main-content .title {
        font-size: 30px;
        line-height: 36px;
    }
    .main-sale {
        width: 60%;
        margin: 10px auto;
    }
    .main-sale__content{
        align-items:center;
    }
    .sponsers-list{
        flex-wrap: wrap;
        padding: 0 10px;
        height: auto;
    }
    .sponsers-list li{
        width: 30%;
        height: 87px;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
    }
    .news-content{
        flex-direction: column;
        align-items:center;
    }
    .news-left{
        margin-bottom: 40px;
        margin-right: 0px;
        max-width: 100%;
        align-items:center;
    }
    .recomend-left .recomend-item {
        padding: 70px 18px;
    }
    .recomend-item__content .text {
        width: 85%;
    }
    .recomend-item.right.top .recomend-item__content {
        margin-left: 170px;
    }
    .recomend-item.right .text {
        width: 95%;
    }
    .recomend-item.right.top .recomend-item__img {
        width: 60%;
    }
    .recomend-item.right.bottom .recomend-item__content {
        margin-left: 27px;
    }
    .recomend-item.right.bottom .recomend-item__img {
        top: 50px;
    }
    .complex-left {
        margin-right: 90px;
    }
    .header .search-panel-mb {
        display: block;
        background-color: #ffffff;
        border-bottom: solid 1px #e5e5e5;
        padding: 5px 7px;
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .logo {
                margin-right: 60px;
                width: 130px;
                img {
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            .phone,
            .search-icon,
            .phone,
            .basket {
                img {
                    height: 25px;
                }
            }
            nav {
                height: 40px;
                width: 40px;
                background-color: #fda11c;
                border-radius: 50%;
            }
        }
    }
    /*burger*/
    #menuToggle {
        display: block;
        position: relative;
        z-index: 1000;
        user-select: none;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }
    #menuToggle a:hover {
        color: tomato;
    }
    #menuToggle input {
        display: block;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 40%;
        height: 2px;
        margin-bottom: 3px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, 2px);
        background: #232323;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -3px);
    }

    #menu {
        position: absolute;
        width: 300px;
        margin: 125px 0 0 100px;
        padding: 20px;
        padding-top: 125px;
        background: rgba(237, 237, 237, 0.9);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        a {
            font-size: 15px;
        }
    }
    #menu li {
        padding: 5px 0;
        text-align: center;
    }
    #menuToggle input:checked ~ ul {
        transform: none;
    }
    .map-contact{
        flex-direction: column-reverse;
        .map{
            margin: 20px 0;
        }
    }
}
@media screen and (max-width: 768px) {
    .header .menu-top {
        display: none;
    }
    .header .search-panel {
        display: none;
    }
    .header .menu-bottom {
        display: none;
    }
    .news-content {
        flex-direction: column;
    }
    .complex-block {
        flex-direction: column-reverse;
    }
    .information .info-list {
        flex-direction: column;
    }
    .main-section__blocks {
        flex-direction: column;
    }
    .main-menu .title {
        display: none;
    }
    .main-menu {
        width: 100%;
    }
    .main-section {
        margin-top: 51px;
        margin-bottom: 15px;
    }
    .main-menu li {
        display: none;
        a{
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
    
    .main-menu .all-products{
        display: block;
    }
    .main-central {
        width: 100%;
        margin: 0;
    }
    .main-section {
        .wrapper {
            width: 100%;
        }
    }
    .main-sale {
        width: 95%;
        margin: 16px auto 0;
    }
    .main-central-wrap {
        padding: 14px 20px;
    }
    .main-content .title {
        font-size: 19px;
        line-height: 25px;
    }
    .main-content .subtitle {
        margin-bottom: 25px;
    }
    .main-picture {
        right: 10px;
        width: 40%;
        img {
            width: 100%;
        }
    }
    .main-content .text {
        margin: 0;
    }
    .news-section {
        display: none;
    }
    .sponsers-list {
        flex-wrap: wrap;
        height: auto;
    }
    .sponsers-list li {
        width: 50%;
        border-bottom: 1px solid #f2f2f2;
    }
    .sponsers-list {
        padding: 0;
    }
    .sponsers-section {
        margin-bottom: 68px;
    }
    .recomend-title{
        font-size: 22px;
    }
    .recomend-subtitle {
        width: 85%;
        line-height: 19px;
    }
    .recomend-list {
        flex-direction: column;
        margin: 35px 0;
    }
    .recomend-left {
        width: 100%;
    }
    .recomend-right {
        width: 100%;
    }
    .complex-right,
    .complex-left {
        width: 100%;
        margin: 0;
    }
    .complex-left_second {
        display: none;
    }
    .information .info-list ul {
        display: none;
    }
    .footer .wrapper2 {
        flex-direction: column;
        padding: 0 15px;
    }
    .recomend-item__content .text {
        width: 60%;
    }
    .wrapper,
    .wrapper2 {
        width: 95%;
    }
    .information {
        padding: 45px 20px;
    }
    .information .info-item .info-item__header {
        border-bottom: solid 1px #4b4b4b;
        padding: 12px 0;
        font-size: 20px;
        color: white;
        font-weight: 100;
        position: relative;
        &::after {
            content: "+";
            position: absolute;
            right: 0;
        }
    }
    .information .info-item:last-of-type .info-item__header {
        border-bottom: none;
    }

    .recomend-item__content {
        margin-top: 55px;
    }
    .recomend-left .recomend-item {
        padding: 25px 38px;
        text-align: left;
        margin-bottom: 10px;
        position: relative;
    }
    .recomend-item__content .title {
        font-size: 23px;
    }
    .recomend-item__content.left .text {
        margin: 0;
    }
    .recomend-left .recomend-item__img {
        width:40%;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .recomend-item.right.top .recomend-item__content {
        margin-left: 215px;
        padding: 100px 0;
    }
    .recomend-item.right .text {
        width: 100%;
    }
    .recomend-item.right.bottom .recomend-item__content {
        margin-left: 45px;
    }
    .recomend-item.right.bottom .recomend-item__img {
        width: 65%;
        right: -35%;
        top: 25%;
    }
    .complex-right {
        padding-left: 20px;
        margin-bottom: 60px;
    }
    .complex-left__title {
        font-size: 28px;
        line-height: 33px;
    }
    .complex-left_first {
        margin-bottom: 30px;
    }
    .complex-section {
        margin: 78px 0 100px;
    }
    
    
}
@media screen and (max-width: 415px) {
    .recomend-left .recomend-item__img {
        right: -25%;
    }
    .recomend-item.right.top .recomend-item__content {
        margin-left: 145px;
        padding: 36px 0;
    }
    .recomend-item__content .text {
        width: 60%;
    }
    .complex-right .logo {
        width: 128px;
        margin-left: 14px;
        margin-bottom: 23px;
    }
    
    .complex-right .logo-name {
        font-size: 28px;
        line-height: 20px;
        span{
            margin: 0;
        }
    }
    .complex-right .company {
        font-size: 19px;
        margin-top: 29px;
        line-height: 16px;
        margin-bottom: 18px;
    }
    .complex-right .info-text {
        font-size: 15px;
    }
    .complex-block p {
        line-height: 19px;
        font-size: 16px;
    }
    .complex-left_first {
        margin-bottom: 56px;
    }
    .plus {
        width: 52px;
        height: 52px;
        margin-left: 5px;
        line-height: 52px;
    }
    .complex-section {
        margin: 78px 0 78px;
    }
    .complex-left__title {
        font-size: 24px;
        line-height: 32px;
        margin-top: 5px;
        margin-bottom: 24px;
    }
    .map-contact .contacts{
        width: 95%;
    }
    .map-contact{
        .map{
            width: 300px;
            height: 300px;
        }
    }
    .contact-form form{
        width: 100%;
    }
    .information {
        padding: 24px 20px;
    }
    .information .info-item .info-item__header {
        font-size: 15px;
    }
    .foot-right__text{
        text-align: center;
    }
}
@media screen and (max-width: 380px) {
    .recomend-left .recomend-item {
        padding: 5px 25px;
    }
    .recomend-item__content .text{
        font-size: 12px;
    }
    .recomend-item__content{
        margin-bottom: 30px;
    }
    .recomend-item__content .title {
        font-size: 20px;
    }
    .recomend-item.right.bottom {
        min-height: 242px;
    }
    .recomend-item.right.top .recomend-item__content {
        margin-left: 133px;
    }
    .recomend-left .recomend-item__img {
        width: 195px;
    }
    .recomend-item.right.bottom .recomend-item__content {
        margin-left: 25px;
    }
}
@media screen and (max-width: 320px) {
    .recomend-left .recomend-item__img {
        width: 175px;
        right: -30%;
    }
}
