$orange: #faad3d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    &:link,
    &:visited {
        text-decoration: none;
        color: inherit;
    }
}
body {
    line-height: 1.5;
    color: #212529;
    font-family: "Open sans";
    font-weight: 400;
    font-size: 16px;
    background: #f3f2f2;
}

.wrapper {
    max-width: 1545px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.wrapper2 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.header {
    .menu-top {
        background: #34a853;
        position: relative;
        .navigate {
            display: flex;
            justify-content: space-between;
            height: 48px;
            align-items: center;
            ul {
                display: flex;
                justify-content: space-between;
                width: 39%;
                padding: 0 2%;
                border-right: 1px solid #67be7e;
                border-left: 1px solid #67be7e;
                font-size: 14px;
                &:first-child {
                    width: 28%;
                    border: none;
                    padding-left: 0;
                }
                &:last-child {
                    border: none;
                    padding-right: 0;
                    width: 37%;
                    li a {
                        display: flex;
                        align-items: center;
                        span {
                            margin-left: 5px;
                        }
                    }
                }
                li {
                    a {
                        color: #e9f5ec;
                    }
                }
            }
        }
    }
    .search-panel-mb{
        display: none;
    }
    .search-panel {
        background: #e7e6e6;
        height: 65px;
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        .search-logo {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                margin-right: 8px;
            }
            span {
                font-size: 25px;
                font-weight: normal;
            }
        }
        
        .search-form {
            width: 885px;
            display: flex;
            align-items: center;
            .all-categories {
                .category {
                    border-right: 1px solid #e7e6e6;
                    padding: 0 25px 0 17px;
                    font-size: 16px;
                    border-radius: 10px 0 0 10px;
                    background: #f1f1f1;
                    color: #777777;
                    height: 35px;
                    line-height: 35px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 7px;
                        right: 5px;
                        border: 7px solid transparent;
                        border-top: 7px solid #3c3c3c;
                    }
                }
            }
            .search-panel__input {
                width: 100%;
                position: relative;
                input {
                    border: none;
                    height: 35px;
                    line-height: 35px;
                    width: 100%;
                    outline: none;
                }
            }
            .search-panel__btn {
                button {
                    width: 50px;
                    height: 35px;
                    display: block;
                    outline: none;
                    border: none;
                    background: $orange url(../img/loop.png) no-repeat center;
                    border-radius: 0 7px 7px 0;
                    cursor: pointer;
                }
            }
        }
        .portal {
            display: flex;
            align-items: center;
            width: 150px;
            .portal-img {
                margin-right: 7px;
                display: flex;
                align-items: center;
            }
            .portal-text {
                width: 100px;
                line-height: 16px;
                span {
                    font-size: 13px;
                    font-weight: 100;
                    color: #777777;
                }
            }
        }
        .search-basket {
            min-width: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            .basket-left {
                position: relative;
                .basket-count {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -5px;
                    color: #ea8b00;
                    font-size: 14px;
                }
                .basket-img {
                    padding-top: 10px;
                }
            }
            .basket-right {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-left: 12px;
                .basket-sum {
                    color: #777777;
                    font-weight: 100;
                    font-size: 14px;
                }
                .basket-num {
                    font-size: 16px;
                    font-weight: 200;
                    color: #000;
                }
            }
        }
    }
    .menu-bottom {
        box-shadow: 7px 7px 18px rgba(33, 37, 41, 0.12);
        .product-list {
            display: flex;
            align-items: center;
            height: 107px;
            justify-content: space-between;
        }
        .product-item a {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            span {
                font-size: 14px;
            }
        }
    }
}
/*main-section*/
.main-section {
    margin-top: 30px;
    margin-bottom: 30px;
}
.main-section__blocks {
    display: flex;
    justify-content: space-between;
}
.main-menu {
    background: #fff;
    width: 20%;
    .title {
        font-size: 22px;
        color: $orange;
        padding: 20px 0;
        text-align: center;
    }
    li {
        border-bottom: solid 1px #ededed;
        height: 45px;
        line-height: 45px;
        position: relative;
    }
    a {
        display: block;
        padding-left: 30px;
        color: #000;
        font-weight: 100;
        &::after {
            content: ">";
            color: #cecece;
            position: absolute;
            right: 15px;
        }
    }
}
.main-central {
    width: 63%;
    margin: 0 20px;
}

.main-sale {
    width: 30%;
}
.main-central-wrap {
    padding: 0 65px;
    position: relative;
    background: #282828;
    display: flex;
    align-items: center;
    height: 100%;
}
.main-content {
    width: 60%;
    color: #fff;
    .subtitle {
        font-weight: 200;
        margin-bottom: 70px;
        color: #777777;
    }
    .title {
        font-size: 36px;
        margin-bottom: 15px;
        line-height: 45px;
    }
    .text {
        font-weight: 100;
        margin-bottom: 45px;
        font-size: 14px;
        line-height: 20px;
    }
    .btn {
        background: $orange;
        border: transparent solid 1px;
        margin: 20px 0;
    }
}
.main-picture {
    position: absolute;
    right: 45px;
}
.main-sale {
    width: 17%;
    padding: 55px 27px;
    background: #fff;
    border: solid 2px #faad3d;
}
.main-sale__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .main-sale__img {
        margin-bottom: 17px;
        img {
            width: 70px;
            width: 90px;
        }
    }
    .subtitle {
        font-size: 18px;
        color: #191919;
        line-height: 20px;
        font-weight: 100;
    }
    .title {
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    .sale-link {
        font-weight: 100;
        color: $orange;
    }
}

.button {
    display: inline-block;
    font-weight: 300;
    color: #282828;
    border: 2px solid #282828;
    border-radius: 20px;
    text-align: center;
    padding: 0 30px;
    height: 35px;
    line-height: 34px;
    cursor: pointer;
    outline: none;
}

/*sponsers sec*/

.sponsers-section {
    margin-bottom: 20px;
}
.sponsers-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 15px 0;
    background: #fff;
    li {
        width: 16.66%;
        height: 100%;
        text-align: center;
        border-right: 1px solid #f2f2f2;
        a {
            color: #282828;
            width: 100%;
            height: 100%;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/*news*/
.news-section {
    margin: 140px 0;
}
.news-title {
    margin-bottom: 50px;
    text-align: left;
    font-size: 36px;
    color: #000;
    line-height: 45px;
}
.news-content {
    display: flex;
    justify-content: space-between;
}
.news-left {
    max-width: 490px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 105px;
}
.news-left-img {
    margin-bottom: 30px;
}
.news__content {
    display: flex;
    flex-direction: column;
    .title {
        font-size: 21px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 27px;
    }
    .text {
        font-size: 14px;
        font-weight: 200;
    }
}
.subtitle_date {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 200;
    .abat {
        color: #34a853;
    }
    .data {
        color: #777;
    }
}
.news-right__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    .news-item__img {
        margin-right: 20px;
    }
}

/*recomend*/
.recomend-title {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}
.recomend-subtitle {
    color: #777;
    font-size: 14px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.recomend-list {
    display: flex;
    justify-content: space-between;
    margin: 65px 0;
}
.recomend-item {
    display: block;
}
.recomend-item__content {
    .subtitle {
        display: block;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
    }
    .title {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 15px;
        display: block;
    }
    .text {
        color: #777;
        font-weight: 100;
        font-size: 14px;
        width: 60%;
    }
    &.left .text {
        margin: 0 auto;
    }

    margin-bottom: 55px;
}
.recomend-item__img {
    img {
        width: 100%;
    }
}
.recomend-item {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.recomend-left {
    width: 45%;
    margin-right: 10px;
    .recomend-item {
        padding: 70px 50px;
        text-align: center;
    }
    .recomend-item__img {
        width: 400px;
        margin: 0 auto -400px;
    }
}

.recomend-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recomend-item {
    &.right {
        display: flex;
        align-items: center;
        .text {
            width: 75%;
        }
        position: relative;
        .recomend-item__content {
            margin: 0;
            width: 60%;
        }
    }
    &.right.top {
        background: #282828;
        color: #fff;
        height: 60%;
        margin-bottom: 10px;
        .recomend-item__content {
            margin-left: 250px;
        }
        .recomend-item__img {
            width: 60%;
            height: auto;
            position: absolute;
            left: -25%;
        }
    }
    &.right.bottom {
        height: 40%;
        min-height: 280px;
        .recomend-item__content {
            margin-left: 65px;
        }
        .recomend-item__img {
            width: 50%;
            height: auto;
            position: absolute;
            right: -15%;
            top: 0;
        }
        .recomend-item__img img {
            width: 100%;
            transform: scale(-1, 1);
        }
    }
}

/*complex*/
.complex-section {
    margin: 30px 0 160px;
}
.complex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-weight: 300;
    }
}
.complex-left {
    width: 65%;
    margin-right: 255px;
}
.complex-left__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 36px;
}
.complex-left_second {
    margin: 45px 0;
    .complex-left__title {
        font-weight: 300;
    }
}
.plus{
    width: 45px;
    height: 45px;
    border-radius:50%;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    line-height: 45px;
    background-color:#232323;
}
.complex-right {
    width: 35%;
    .logo {
        width: 153px;
        margin-bottom: 35px;
        img {
            width: 100%;
        }
    }
    .logo-name {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        span{
            line-height: 20px;
            font-weight: 100;
            margin-top: 5px;
            display: block;
            font-size: 14px;
            color: #898989;
        }
    }
    .company{
        font-weight: 400;
        font-size: 22px;
        margin-top: 35px;
        line-height: 22px;
        margin-bottom: 25px;
        span{
            line-height: 17px;
            font-weight: 100;
            margin-top: 5px;
            display: block;
            font-size: 17px;
            color: #898989;
        }
    }
    .info-text{
        font-size: 16px;
    }
}

/*info sec*/
.information {
    background: #282828;
    padding: 90px 0 80px 0;
    .info-list {
        display: flex;
        justify-content: space-between;
    }
    .info-item {
        .info-item__header {
            color: #6c6c6c;
            font-size: 24px;
            font-weight: 300;
            padding-bottom: 35px;
        }
        ul li {
            color: #fff;
            font-weight: 300;
            font-size: 15px;
        }
    }
    .empt {
        padding-bottom: 25px;
    }
}
/*footer*/
.footer {
    background: #191919;
    padding: 40px 0 25px;
    .wrapper2 {
        display: flex;
        justify-content: space-between;
    }
    .foot-left {
        display: flex;
    }
    .foot-left__img {
        width: 40px;
        img {
            width: 100%;
        }
        margin-right: 15px;
    }
    .foot-left__text {
        display: flex;
        flex-direction: column;
    }
    .foot-left__text_first {
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        padding-bottom: 5px;
    }
    .foot-left__text_second {
        color: #777;
        font-size: 15px;
        line-height: 15px;
        font-weight: 200;
    }
    .foot-right {
        span {
            font-size: 18px;
            font-weight: 200;
            color: #fff;
        }
    }
}
.swiper-container{
    height: 100%;
}
